.latest-news{
    grid-template-columns: repeat(2, 1fr)!important;
}

.latest-news-wrapper{
    background-color: 
    #F2F2F2;
    width: 1440;

padding-top: 60px;
padding-bottom: 80px;

}

.custom-hero{
    background-image: url('https://contents.trinity-metals.com/wp-content/uploads/2025/02/Team-mechanic.webp');
    background-repeat: no-repeat;
    background-position: center calc(40% - 0px);
    background-size: cover;
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -60px;
}
.custom-hero::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.child-item-wrapper h1{
  color: var(--trinity-white);
font-weight: 700;
font-size: 64px;
line-height: 78.02px;
letter-spacing: 0%;
text-align: center;
}

/* Pagination Styles */
.pagination{
    gap: 10px;
    padding-top: 30px;
}
.page-numbers-wrapper{
    display: flex;
    gap: 7px;
}
.page-number, .pagination-btn{
  
border-radius: 14px;
padding: 10px 18px;
cursor: pointer;
background-color: var(--trinity-white);

font-weight: 400;
font-size: 15px;
line-height: 20px;
letter-spacing: 0%;
text-align: center;
color: var(--trinity-dark);


}
.page-number.active{
    background-color: var(--trinity-blue);
    color: var(--trinity-white);

}
.pagination-btn:hover{
    border: none;
}
.pagination-btn:disabled{
 opacity: 0.4;
 background-color: var(--trinity-white);
}

@media(max-width: 768px){
    .latest-news{
        grid-template-columns: 1fr;
    }
    .latest-news-wrapper .col-md-8{
        padding-bottom: 60px;
    }
}