.Team-container-wrapper{
    background-color: #F2F2F2;
    padding-top: 80px;
    padding-bottom: 80px;
}
.header-element h1{
    
font-size: 36px;
font-weight: 700;
line-height: 43.88px;


}
.Team-container-wrapper .container{
    gap: 40px;
}